@model IEnumerable<FinanceApp.Models.Expense>

<h2 class="text-center pt-3 pb-3">My Expenses</h2>

<div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary" onclick="window.location.href='/Expenses/Create'">Create New Expense</button>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Amount $</td>
                    <td>@item.Category</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h2 class="text-center pt-3 pb-3">Expenses Overview</h2>
<div class="d-flex justify-content-center">
    <canvas style="max-width: 400px; max-height:400px;" id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    fetch('/Expenses/GetChart')
        .then(response => response.json())
        .then(data => {
            new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: data.map(d =>d.category),
                    datasets: [{
                      
                      data: data.map(d => d.total),
                    }]
                  },
                  options: {
                        plugins: {
                            legend: {
                                position: 'bottom',
                                labels: {
                                    usePointStyle: true,
                                    pointStyle: 'circle'
                                }
                            }
                        }
                    }

            });

        })

    
</script>

<h3 class="text-center pt-3 pb-3">Total Expenses: @ViewBag.TotalExpenses $</h3>